.btn-primary{
    margin: 5px;
}
.btn-success{
    margin: 5px;
}
.btn-danger{
    margin: 5px;
}
.btn-warning{
    margin: 5px;
}
.btn-secondary{
    margin: 5px;
}
.todos-area:hover{
    cursor: pointer;
}